* {
    margin: 0;
    padding: 0;
   
}
body {
    font-family: "Play", sans-serif;
    overflow-x: hidden;
}

.main-box{
    display: flex;
    background-color:white;
    
}
.footer-box{
background-color: #333232;
    position: fixed;
    max-height: 200px;
    /* margin-bottom:auto; */
    bottom: 0;
    width: 100%;
}
    .footer-box p{
  font-size: 15px;
  color: grey;
}
h5{
  color: #7c7c7c;
}