* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body {
    font-family: "Play", sans-serif;
    
}
.navbar {
    display: flex;
    justify-content:flex-start;
    /* align-items: center; */
    background-color: #030303;
    text-decoration: none;
    padding: 20px;
    
}
.navbar img{
    height: 20px;
}
.navbar-links ul{
    display: flex;    
}
.navbar-links li {
    /* background-color: white; */
    border-radius: 35px 35px 35px 35px;
    margin: 0px 25px;
    font-weight: bold;
    font-family:"Play", sans-serif;
}
.navbar-links a{
    text-decoration: none;
    color: red;
    font-size: 20px;
}
.navbar-links{
    margin-left: auto;
}
/* .main-box{
    display: flex;
    background-color:white;
} */
.footer-box{
    background-color: #333232;
    position: relative;
    max-height: 200px;
    margin-bottom:auto;
    /* position: fixed; */
    /* bottom: 0; */
}
.footer-box p{
    font-size: 15px;
    color: rgb(250, 250, 250);
}
/* --------------------------------------------------------------------------------------- */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr)); /* Responsive columns */
    gap: 20px; /* Space between cards */
    /* padding: 10px; */
    justify-content: center;
}

.card {
    box-shadow: 10px 20px 8px 0px rgba(0.4, 0.7, 0.9, 0.4);
    /* width: 300px; */
    max-width: 250px;
    max-height: 400px;
    margin: 25px;
    text-align: center;
    background-color: black;
    border-radius: 30px 30px 30px 30px;
    /* flex-wrap: wrap; */
    overflow: hidden;
    
    
  }
  .card h1{
    color: white;
    font-size:large
    
  }
.playerimg{
    height: 200px;
    width:250px;
    border-radius: 30px 30px 0px 0px;
  }
  
  .title {
    color: red;
    font-size: 18px;
    font-weight: bolder;
  }
  
  .buttons {
    border: none;
    outline: 0;
    /* display: inline-block; */
    padding: 10px;
    color: black;
    background-color: red;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0px 0px 30px 30px;
    font-family: "Play", sans-serif;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: white;
  }
  
  .buttons:hover {
    opacity: 0.9;
    background-color: rgb(218, 0, 0);
  }